<%- include ('partials/header.ejs') %>
<%- include ('partials/homeNavBar.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="Jumbotron">
            <h1 class="display-4">Bem-vindo</h1>
            <div class="mt-4 p-5 bg-primary text-white rounded">
                <h1>Descrição detalhada</h1> 
                <p>Este é um simples blog do guia do programador</p> 
                <hr class="my-4">
              <a href="#" class="btn btn-primary btn-lg">Leia mais</a>
            </div>
          </div>
        <hr>
        <% articles.forEach(article => {%>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug%>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
            <br>
       <%})%>
       <div class="row">
        <div class="col col-12">
            <a style="float: right;" href="/articles/page/2">Next >>></a>
        </div> 
       </div>
       <hr>
    </div>
</body>
<%- include ('partials/footer.ejs') %>